.form {
    margin: 0px auto;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.input {
    padding: 8px;
    margin-right: 10px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    width: 200px;
}

.button {
    padding: 4px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;



}

